@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --verdeOlivia: #414833;
  --offWhite: #f6f5f3;
  --deepBluish: #0d3a35;
  --moderateGreen: #276152;
  --laurelGreen: #b1b7ab;
  --lightCream: #fbf6f0;
  --creamFigma: #e9e8e4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-verdeOlivia: var(--verdeOlivia);
  --color-offWhite: var(--offWhite);
  --color-deepBluish: var(--deepBluish);
  --color-moderateGreen: var(--moderateGreen);
  --color-laurelGreen: var(--laurelGreen);
  --color-lightCream: var(--lightCream);
  --color-creamFigma: var(--creamFigma);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
  }
}
